$dark: rgba(0, 0, 0, 0.618);
$border: rgba(200, 200, 200, 0.618);
$gap: 5px;
$padding: 10px;
$size: 16px;
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.col {
  flex: 1;
}
.flex-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.w-150 {
  width: 150px;
}
.w-250 {
  width: 250px;
}
.w-400 {
  width: 400px;
}
.w-550 {
  width: 550px;
}
.w-805 {
  width: 805px;
}
.pad-26 {
  height: 26px;
}
.pad-72 {
  height: 72px;
}
.line-9 {
  height: ($size + $padding * 2) * 9;
}
.q-gap-l {
  margin-left: $gap;
}
.q-gap-x {
  margin: 0 $gap;
}
.q-mt {
  margin-top: $padding;
}
.q-mb {
  margin-bottom: $padding;
}
.q-ml {
  margin-left: $padding;
}
.q-mx {
  margin-left: $padding;
  margin-right: $padding;
}
.q-pr {
  padding-right: $padding;
}
.text-positive {
  color: #22cbd9;
}
.text-negative {
  color: #7e7e7e;
}
.text-right {
  text-align: right;
}
.hoverable:hover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
}
.focusable {
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
hr {
  background-color: $border;
  border: 0;
  height: 1px;
}
