$sm: 6px;
$md: $sm * 2;
$lg: $sm * 4;
$xl: $sm * 8;
$blue: #2196f3;
$dark: #1d1d1d;
$grey: #bcbcbc;
$pink: #d84060;
$brown: #d7ccc8;
$shade: #7f7f7f;
$white: #e0e0e0;
.disabled {
  color: #555;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.col {
  flex: 1;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  background-color: $grey;
  color: $dark;
  padding: $sm 0;
  width: $xl * 4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -$xl;
  left: 50%;
  z-index: 30;
  transform: translateX(-50%);
}
.w-1 {
  width: $xl * 1;
}
.w-2 {
  width: $xl * 2;
}
.w-3 {
  width: $xl * 3;
}
.w-4 {
  width: $xl * 4;
}
.w-5 {
  width: $xl * 5;
}
.w-6 {
  width: $xl * 6;
}
.w-7 {
  width: $xl * 7;
}
.w-8 {
  width: $xl * 8;
}
.w-9 {
  width: $xl * 9;
}
.w-10 {
  width: $xl * 10;
}
.w-11 {
  width: $xl * 11;
}
.w-12 {
  width: $xl * 12;
}
.w-13 {
  width: $xl * 13;
}
.w-14 {
  width: $xl * 14;
}
.w-15 {
  width: $xl * 15;
}
.w-16 {
  width: $xl * 16;
}
