$dark: rgba(0, 0, 0, 0.618);
$border: rgba(200, 200, 200, 0.618);
$gap: 5px;
$padding: 10px;
$size: 16px;
.flex {
  display: flex;
}
.col {
  flex: 1;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.w-150 {
  width: 150px;
}
.w-250 {
  width: 250px;
}
.w-400 {
  width: 400px;
}
.w-550 {
  width: 550px;
}
.q-gap {
  margin: 0 $gap;
}
.q-mt {
  margin-top: $padding;
}
.hoverable:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.focusable {
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
