$dark: rgba(0, 0, 0, 0.618);
$border: rgba(200, 200, 200, 0.618);
$gap: 5px;
$padding: 10px;
$size: 16px;
hr {
  background-color: $border;
  border: 0;
  height: 1px;
}
.flex {
  display: flex;
}
.flex-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex: 1;
}
.column {
  flex-direction: column;
}
.pad-26 {
  height: 26px;
}
.pad-72 {
  height: 72px;
}
.line-9 {
  height: ($size + $padding * 2) * 9;
}
.table-td {
  text-align: right;
  box-sizing: border-box;
  padding-right: $padding;
  width: 100px;
}
.w-150 {
  width: 150px;
}
.w-282 {
  width: 282px;
}
.w-352 {
  width: 352px;
}
.w-530 {
  width: 530px;
}
.q-gap-x {
  margin: 0 $gap;
}
.q-gap-l {
  margin-left: $gap;
}
.q-mt {
  margin-top: $padding;
}
.q-mb {
  margin-bottom: $padding;
}
.q-ml {
  margin-left: $padding;
}
.q-mx {
  margin-left: $padding;
  margin-right: $padding;
}
.text-positive {
  color: #22cbd9;
}
.text-negative {
  color: #7e7e7e;
}
.text-right {
  text-align: right;
}
.hoverable:hover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
}
.focusable {
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
