$bit: 4px;
$gap: $bit;
$padding: $bit * 2;
$text: $bit * 4;
$avatar: $bit * 8;
$tile: $bit * 12;
$size-12: $bit * 3;
$opacity: 0.618;
$dark: rgba(0, 0, 0, $opacity);
$border: rgba(255, 255, 255, $opacity);
br {
  content: '';
  display: block;
  height: $avatar;
}
hr {
  background-color: $border;
  border: 0;
  height: 1px;
  margin: $padding 0;
}
.flex {
  display: flex;
}
.col {
  flex: 1;
}
.column {
  flex-direction: column;
}
.gap-x {
  margin: 0 $gap;
}
.padding-b {
  margin-bottom: $padding;
}
.padding-l {
  margin-left: $padding * 2;
}
.w-150 {
  width: 150px;
}
.w-250 {
  width: 250px;
}
.w-500 {
  width: 500px;
}
.text-positive {
  color: #7cf1fb;
}
.text-negative {
  color: #fd8b8b;
}
.text-info {
  color: #a3a3a3;
}
