$sm: 5px;
$md: $sm * 2;
$lg: $sm * 4;
$xl: $sm * 8;
$blue: #2196f3;
$pink: #d84060;
$shade: #7f7f7f;
$border: rgba(188, 188, 188, 160/255);
$bg: rgba(0, 0, 0, 160/255);
$space: 4px;
hr {
  border: 0;
  background-color: $border;
  height: 1px;
  margin: $md 0;
}
s {
  color: #2196f3;
}
.text-positive {
  color: #22cbd9;
}
.text-negative {
  color: #7e7e7e;
}
.q-pl {
  padding-left: $md !important;
}
.q-mb {
  margin-bottom: $md !important;
}
.space-top {
  margin-top: $space;
}
.space-left {
  margin-left: $space;
}
.space-right {
  margin-right: $space;
}
.space-bottom {
  margin-bottom: $space;
}
.disabled {
  color: #555;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.col {
  flex: 1;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-60 {
  width: 60px;
}
.w-150 {
  width: 150px;
}
.w-250 {
  width: 250px;
}
.w-400 {
  width: 400px;
}
.w-550 {
  width: 550px;
}
.h-60 {
  height: 60px;
}
.h-320 {
  height: $xl * 8;
}
