$bit: 2px;
$padding: $bit * 4;
$text: $bit * 8;
$avatar: $bit * 16;
$tile: $bit * 24;
$size-12: $bit * 6;
$opacity: 0.5;
$dark: rgba(0, 0, 0, $opacity);
$border: rgba(255, 255, 255, $opacity);
br {
  content: '';
  display: block;
  height: $avatar;
}
hr {
  background-color: $border;
  border: 0;
  height: 1px;
  margin: $padding 0;
}
.flex {
  display: flex;
}
.flex-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.col {
  flex: 1;
}
.column {
  flex-direction: column;
}
.bit-x {
  margin: 0 $bit;
}
.padding-a {
  padding: $padding !important;
}
.padding-b {
  margin-bottom: $padding !important;
}
.padding-l {
  margin-left: $text !important;
}
.w-150 {
  width: 150px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
.w-500 {
  width: 500px;
}
.text-positive {
  color: #7cf1fb;
}
.text-negative {
  color: #fd8b8b;
}
.text-info {
  color: #a3a3a3;
}
